
#!/bin/bash
#                  _    _      _       _     _         _____  _                                           
#                 | |  | |    (_)     | |   | |       |  __ \(_)                                          
#                 | |__| | ___ _  __ _| |__ | |_ ___  | |  | |_ ___ _ __   ___ _ __  ___  __ _ _ __ _   _ 
#                 |  __  |/ _ \ |/ _` | '_ \| __/ __| | |  | | / __| '_ \ / _ \ '_ \/ __|/ _` | '__| | | |
#                 | |  | |  __/ | (_| | | | | |_\__ \ | |__| | \__ \ |_) |  __/ | | \__ \ (_| | |  | |_| |
#                 |_|  |_|\___|_|\__, |_| |_|\__|___/ |_____/|_|___/ .__/ \___|_| |_|___/\__,_|_|   \__, |
#                                 __/ |                            | |                               __/ |
#                                |___/                             |_|                              |___/ 


 ##define character encoding
   export LC_ALL=en_US.UTF-8
   export LANG=en_US.UTF-8
   export LANGUAGE=en_US.UTF-8
 ##locals
   export SUPATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
   export PATH="$LOCAL/sbin:$PATH ${PATH:+:${PATH}}"
   export PATH="$LOCAL/bin:$PATH ${PATH:+:${PATH}}"      
   export PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games${PATH:+:${PATH}}"
   export PATH="/usr/local/sbin${PATH:+:${PATH}}"
   export PATH="/usr/local/bin${PATH:+:${PATH}}"
   export PATH="${PATH:+${PATH}:}~/opt/bin"
 ##makehistory      
   HISTFILE="~/.ps420history"
   HISTSIZE="-1" 
   HISTFILESIZE="-1"
   shopt -s histappend
   HISTCONTROL="erasedups:ignoredups:ignorespace"
   EDITOR="/usr/bin/nano"
   VISUAL="/usr/bin/nano"
   LS_COLORS='di=34:ln=35:ex=31'
          
           
   
       
