#!/bin/bash
#                  _    _      _       _     _         _____  _                                           
#                 | |  | |    (_)     | |   | |       |  __ \(_)                                          
#                 | |__| | ___ _  __ _| |__ | |_ ___  | |  | |_ ___ _ __   ___ _ __  ___  __ _ _ __ _   _ 
#                 |  __  |/ _ \ |/ _` | '_ \| __/ __| | |  | | / __| '_ \ / _ \ '_ \/ __|/ _` | '__| | | |
#                 | |  | |  __/ | (_| | | | | |_\__ \ | |__| | \__ \ |_) |  __/ | | \__ \ (_| | |  | |_| |
#                 |_|  |_|\___|_|\__, |_| |_|\__|___/ |_____/|_|___/ .__/ \___|_| |_|___/\__,_|_|   \__, |
#                                 __/ |                            | |                               __/ |
#                                |___/                             |_|                              |___/ 

 
        # #define character encoding
        export LC_ALL=en_US.UTF-8
        export LANG=en_US.UTF-8
        export LANGUAGE=en_US.UTF-8
        # #locals
        export PATH="$LOCAL/bin:$PATH"
        export PATH=$PATH:/usr/local/sbin
        export PATH=$PATH:/usr/local/bin
        # #remembering all of your mistakes like a super power
        export HISTFILESIZE=
        export HISTSIZE=
        export HISTCONTROL=erasedups:ignoredups:ignorespace
        # #nano is the editor and for crontab too 
        export EDITOR='/usr/bin/nano'
        export VISUAL=nano
        # #Color for LS
        LS_COLORS='di=34:ln=35:ex=31'
        export LS_COLORS


