#!/bin/bash
#                  _    _      _       _     _         _____  _                                           
#                 | |  | |    (_)     | |   | |       |  __ \(_)                                          
#                 | |__| | ___ _  __ _| |__ | |_ ___  | |  | |_ ___ _ __   ___ _ __  ___  __ _ _ __ _   _ 
#                 |  __  |/ _ \ |/ _` | '_ \| __/ __| | |  | | / __| '_ \ / _ \ '_ \/ __|/ _` | '__| | | |
#                 | |  | |  __/ | (_| | | | | |_\__ \ | |__| | \__ \ |_) |  __/ | | \__ \ (_| | |  | |_| |
#                 |_|  |_|\___|_|\__, |_| |_|\__|___/ |_____/|_|___/ .__/ \___|_| |_|___/\__,_|_|   \__, |
#                                 __/ |                            | |                               __/ |
#                                |___/                             |_|                              |___/ 
   	
	#rootcheck

	#check if exist in sudoers add if not with alias above
	sudo -l -U $USER | grep -c NOPASSWD | awk '{if ($0==0) printf "Fixing" && $kingmaker; else if ($0>0) printf "  root check: ✔ "}'
	echo

	#does bash_history exist? no? make it. 
	FILE=~/.bash_history
	if [ -f "$FILE" ]; then
    		printf "really odd pass: ✔."
	else
   		touch ~/.bash_history && printf "bash_history: ✔ "
	fi
	echo

	#take ownership of bash history
	sudo chown $user:$user ~/.bash_history
	#lets make a backup black hole  of it and we dont have time to hear complaints
	sudo mv ~/.bash_history ~/bash_history.bak 2>/dev/null

	#does .ps420history exist? no? make it. 
	FILE=~/.ps420history
	if [ -f "$FILE" ]; then
   		 printf "ps420history: ✔ "
	else
   	 	touch ~/.ps420history && printf "Fixed ps420history: ✔"
	fi
	echo
	#make sure we own ps420history and we dont want to hear about it
	sudo chown $user:$user ~/.ps420history 2>/dev/null
	echo




            # ssh settings
            SSH_ENV="$HOME/.ssh/environment"

            function start_agent {
              echo "Initializing new SSH agent..."
              /usr/bin/ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
              echo succeeded
              chmod 600 "${SSH_ENV}"
              . "${SSH_ENV}" > /dev/null
              /usr/bin/ssh-add;
            }

            # Source SSH settings, if applicable
            if [ -f "${SSH_ENV}" ]; then
              . "${SSH_ENV}" > /dev/null
              #ps ${SSH_AGENT_PID} doesn't work under cywgin
              ps -ef | grep ${SSH_AGENT_PID} | grep ssh-agent$ > /dev/null || {
                  start_agent;
              }
            else
              start_agent;
            fi

         
