#!/bin/bash
#                  _    _      _       _     _         _____  _                                           
#                 | |  | |    (_)     | |   | |       |  __ \(_)                                          
#                 | |__| | ___ _  __ _| |__ | |_ ___  | |  | |_ ___ _ __   ___ _ __  ___  __ _ _ __ _   _ 
#                 |  __  |/ _ \ |/ _` | '_ \| __/ __| | |  | | / __| '_ \ / _ \ '_ \/ __|/ _` | '__| | | |
#                 | |  | |  __/ | (_| | | | | |_\__ \ | |__| | \__ \ |_) |  __/ | | \__ \ (_| | |  | |_| |
#                 |_|  |_|\___|_|\__, |_| |_|\__|___/ |_____/|_|___/ .__/ \___|_| |_|___/\__,_|_|   \__, |
#                                 __/ |                            | |                               __/ |
#                                |___/                             |_|                              |___/ 
          
            # alias container
            if [ -e $HOME/.alias ]; then
               source $HOME/.alias
            fi
            
            # append history with no history limit 
            shopt -s histappend

            HISTSIZE= 
            HISTFILESIZE=

            # Have your own aliases? Let's pull them in.
            if [ -f ~/.bash_aliases ]; then
            . ~/.bash_aliases
            fi

            # ssh settings
            SSH_ENV="$HOME/.ssh/environment"

            function start_agent {
              echo "Initializing new SSH agent..."
              /usr/bin/ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
              echo succeeded
              chmod 600 "${SSH_ENV}"
              . "${SSH_ENV}" > /dev/null
              /usr/bin/ssh-add;
            }

            # Source SSH settings, if applicable
            if [ -f "${SSH_ENV}" ]; then
              . "${SSH_ENV}" > /dev/null
              #ps ${SSH_AGENT_PID} doesn't work under cywgin
              ps -ef | grep ${SSH_AGENT_PID} | grep ssh-agent$ > /dev/null || {
                  start_agent;
              }
            else
              start_agent;
            fi

            # Enable programmable completions.
            if ! shopt -oq posix; then
            if [ -f /usr/share/bash-completion/bash_completion ]; then
              . /usr/share/bash-completion/bash_completion
            elif [ -f /etc/bash_completion ]; then
              . /etc/bash_completion
            fi
            fi


