#!/bin/bash
# ================================================================================= #
# This file touched by:
#
#  ███████╗█████╗███╗   █████╗  ██╗██████╗██╗   █████████████████╗██████╗███╗   ██╗
#  ██╔════██╔══██████╗ ██████║  ████╔═══████║   ████╔════╚══██╔══██╔═══██████╗  ██║
#  ████████████████╔████╔███████████║   ████║   █████████╗  ██║  ██║   ████╔██╗ ██║
#  ╚════████╔══████║╚██╔╝████╔══████║   ████║   ██╚════██║  ██║  ██║   ████║╚██╗██║
#  █████████║  ████║ ╚═╝ ████║  ██╚██████╔╚██████╔███████║  ██║  ╚██████╔██║ ╚████║
#  ╚══════╚═╝  ╚═╚═╝     ╚═╚═╝  ╚═╝╚═════╝ ╚═════╝╚══════╝  ╚═╝   ╚═════╝╚═╝  ╚═══╝
#
# ================================================================================= #

# ===Let's bring in some functions================================================= #

#append history with no history limit to .history================================== #

shopt -s histappend
#PROMPT_COMMAND='history -a'
HISTSIZE= 
HISTFILESIZE=
PROMPT_COMMAND='if [ "$(id -u)" -ne 0 ]; then echo "$(date "+%Y-%m-%d.%H:%M:%S") $(pwd) $(.history 1)" >> ~/.history-$(date "+%Y-%m-%d").log; fi'




# ===look for tmux section and exit================================================ #
#session="workspace"
#tmux has-session -t $session 2>/dev/null
#if [ $? != 0 ]; then
#/home/samhouston/samhouston-startup.sh
#else
#break
#fi
# ===end tmux-detection============================================================ #





